.elementor-1402 .elementor-element.elementor-element-d174979:not(.elementor-motion-effects-element-type-background), .elementor-1402 .elementor-element.elementor-element-d174979 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#E4E3E357;}.elementor-1402 .elementor-element.elementor-element-d174979{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:30px 0px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-d174979 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1402 .elementor-element.elementor-element-e2bfd6f .elementor-heading-title{color:#C18447;font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-1402 .elementor-element.elementor-element-5f44fe8 .elementor-heading-title{color:#181818;font-family:"Roboto", Sans-serif;font-weight:500;word-spacing:0px;}.elementor-1402 .elementor-element.elementor-element-5f44fe8 > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-86dec11{color:#7A7A7A;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-86dec11 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1402 .elementor-element.elementor-element-ac0eae0{color:#7A7A7A;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-ac0eae0 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1402 .elementor-element.elementor-element-74633ea{padding:10px 10px 10px 10px;}.elementor-1402 .elementor-element.elementor-element-9316c94{text-align:left;}.elementor-1402 .elementor-element.elementor-element-9316c94 img{width:91%;max-width:100%;}.elementor-1402 .elementor-element.elementor-element-9316c94 > .elementor-widget-container{padding:25px 0px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-71855ae > .elementor-element-populated{padding:60px 0px 0px 40px;}.elementor-1402 .elementor-element.elementor-element-4b1a8ed .elementor-heading-title{color:#C18447;font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-1402 .elementor-element.elementor-element-fb9fd32 .elementor-heading-title{color:#181818;font-family:"Roboto", Sans-serif;font-size:45px;font-weight:500;}.elementor-1402 .elementor-element.elementor-element-fb9fd32 > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-6523940{color:#7A7A7A8C;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-2c17f11{font-family:"Roboto", Sans-serif;font-size:19px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-0dbdefa{--divider-border-style:solid;--divider-color:#676767AB;--divider-border-width:1px;}.elementor-1402 .elementor-element.elementor-element-0dbdefa .elementor-divider-separator{width:100%;}.elementor-1402 .elementor-element.elementor-element-0dbdefa .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1402 .elementor-element.elementor-element-2e409c9{color:#000000;font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-1402 .elementor-element.elementor-element-65c46f4 .elementor-repeater-item-6581408.elementor-social-icon{background-color:#300CA2;}.elementor-1402 .elementor-element.elementor-element-65c46f4 .elementor-repeater-item-6581408.elementor-social-icon i{color:#ECECEC;}.elementor-1402 .elementor-element.elementor-element-65c46f4 .elementor-repeater-item-6581408.elementor-social-icon svg{fill:#ECECEC;}.elementor-1402 .elementor-element.elementor-element-65c46f4{--grid-template-columns:repeat(0, auto);--icon-size:18px;--grid-column-gap:10px;--grid-row-gap:0px;}.elementor-1402 .elementor-element.elementor-element-65c46f4 .elementor-widget-container{text-align:right;}.elementor-1402 .elementor-element.elementor-element-65c46f4 .elementor-icon{border-radius:50% 50% 50% 50%;}.elementor-1402 .elementor-element.elementor-element-b78a155{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-4a342d2{color:#B4B4B4;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-8490abd{color:#7A7A7A;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-8490abd > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1402 .elementor-element.elementor-element-be32635 .elementor-repeater-item-10c96e5.elementor-social-icon{background-color:#86381EF0;}.elementor-1402 .elementor-element.elementor-element-be32635{--grid-template-columns:repeat(0, auto);--icon-size:18px;--grid-column-gap:10px;--grid-row-gap:0px;}.elementor-1402 .elementor-element.elementor-element-be32635 .elementor-widget-container{text-align:center;}.elementor-1402 .elementor-element.elementor-element-be32635 .elementor-icon{border-radius:50% 50% 50% 50%;}.elementor-1402 .elementor-element.elementor-element-8ab811e{color:#7A7A7A;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-8ab811e > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1402 .elementor-element.elementor-element-dee7063 .elementor-repeater-item-10c96e5.elementor-social-icon{background-color:#86381EF0;}.elementor-1402 .elementor-element.elementor-element-dee7063{--grid-template-columns:repeat(0, auto);--icon-size:18px;--grid-column-gap:10px;--grid-row-gap:0px;}.elementor-1402 .elementor-element.elementor-element-dee7063 .elementor-widget-container{text-align:center;}.elementor-1402 .elementor-element.elementor-element-dee7063 .elementor-icon{border-radius:50% 50% 50% 50%;}.elementor-1402 .elementor-element.elementor-element-34055e6{color:#7A7A7A;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-34055e6 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1402 .elementor-element.elementor-element-d439bf8 .elementor-repeater-item-10c96e5.elementor-social-icon{background-color:#86381EF0;}.elementor-1402 .elementor-element.elementor-element-d439bf8{--grid-template-columns:repeat(0, auto);--icon-size:18px;--grid-column-gap:10px;--grid-row-gap:0px;}.elementor-1402 .elementor-element.elementor-element-d439bf8 .elementor-widget-container{text-align:center;}.elementor-1402 .elementor-element.elementor-element-d439bf8 .elementor-icon{border-radius:50% 50% 50% 50%;}.elementor-1402 .elementor-element.elementor-element-d1bc4dc{color:#7A7A7A;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-d1bc4dc > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1402 .elementor-element.elementor-element-1165eca .elementor-repeater-item-10c96e5.elementor-social-icon{background-color:#86381EF0;}.elementor-1402 .elementor-element.elementor-element-1165eca{--grid-template-columns:repeat(0, auto);--icon-size:18px;--grid-column-gap:10px;--grid-row-gap:0px;}.elementor-1402 .elementor-element.elementor-element-1165eca .elementor-widget-container{text-align:center;}.elementor-1402 .elementor-element.elementor-element-1165eca .elementor-icon{border-radius:50% 50% 50% 50%;}.elementor-1402 .elementor-element.elementor-element-5a97b8c:not(.elementor-motion-effects-element-type-background), .elementor-1402 .elementor-element.elementor-element-5a97b8c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://namphunphin.github.io/mywordpress/wp-content/uploads/2022/11/img_2.jpg");background-position:bottom center;background-repeat:no-repeat;background-size:cover;}.elementor-1402 .elementor-element.elementor-element-5a97b8c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:50px;margin-bottom:0px;}.elementor-1402 .elementor-element.elementor-element-5a97b8c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1402 .elementor-element.elementor-element-2e50198 > .elementor-element-populated{padding:250px 0px 250px 20px;}.elementor-1402 .elementor-element.elementor-element-6a12371{color:#D39A6A;font-family:"Roboto", Sans-serif;font-size:17px;font-weight:600;}.elementor-1402 .elementor-element.elementor-element-ce10e81{text-align:left;}.elementor-1402 .elementor-element.elementor-element-ce10e81 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:45px;font-weight:500;}.elementor-1402 .elementor-element.elementor-element-ce10e81 > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-6ca1319 .elementor-button{font-family:"Roboto", Sans-serif;font-size:15px;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:#FBFFFC00;border-style:solid;border-width:0px 0px 3px 0px;border-color:#B8B8B8AD;padding:0px 0px 2px 0px;}.elementor-1402 .elementor-element.elementor-element-6ca1319 .elementor-button:hover, .elementor-1402 .elementor-element.elementor-element-6ca1319 .elementor-button:focus{border-color:#FCFCFC;}.elementor-1402 .elementor-element.elementor-element-10f5ad4 > .elementor-element-populated{padding:130px 0px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-49da008 > .elementor-element-populated{border-style:solid;border-width:0px 1px 0px 0px;border-color:#A9A8A882;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1402 .elementor-element.elementor-element-49da008 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1402 .elementor-element.elementor-element-271d8a9 .elementor-counter-number-wrapper{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-1402 .elementor-element.elementor-element-271d8a9 .elementor-counter-title{color:#C8C9CABD;font-family:"Arial", Sans-serif;font-size:22px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-09a563f{--divider-border-style:solid;--divider-color:#A9A8A882;--divider-border-width:1px;}.elementor-1402 .elementor-element.elementor-element-09a563f .elementor-divider-separator{width:100%;}.elementor-1402 .elementor-element.elementor-element-09a563f .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1402 .elementor-element.elementor-element-fa3146d .elementor-counter-number-wrapper{color:#FFFFFF;}.elementor-1402 .elementor-element.elementor-element-fa3146d .elementor-counter-title{color:#C8C9CABD;font-family:"Arial", Sans-serif;font-size:22px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-63f8906{--divider-border-style:solid;--divider-color:#A9A8A882;--divider-border-width:1px;}.elementor-1402 .elementor-element.elementor-element-63f8906 .elementor-divider-separator{width:100%;}.elementor-1402 .elementor-element.elementor-element-63f8906 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1402 .elementor-element.elementor-element-15cff93 .elementor-counter-number-wrapper{color:#FFFFFF;}.elementor-1402 .elementor-element.elementor-element-15cff93 .elementor-counter-title{color:#C8C9CABD;font-family:"Arial", Sans-serif;font-size:22px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-673020b .elementor-counter-number-wrapper{color:#FFFFFF;}.elementor-1402 .elementor-element.elementor-element-673020b .elementor-counter-title{color:#C8C9CABD;font-family:"Arial", Sans-serif;font-size:22px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-7cf56e6{--divider-border-style:solid;--divider-color:#A9A8A882;--divider-border-width:1px;}.elementor-1402 .elementor-element.elementor-element-7cf56e6 .elementor-divider-separator{width:100%;}.elementor-1402 .elementor-element.elementor-element-7cf56e6 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1402 .elementor-element.elementor-element-c69d1b2 .elementor-counter-number-wrapper{color:#FFFFFF;}.elementor-1402 .elementor-element.elementor-element-c69d1b2 .elementor-counter-title{color:#C8C9CABD;font-family:"Arial", Sans-serif;font-size:22px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-0ef47a1{--divider-border-style:solid;--divider-color:#A9A8A882;--divider-border-width:1px;}.elementor-1402 .elementor-element.elementor-element-0ef47a1 .elementor-divider-separator{width:100%;}.elementor-1402 .elementor-element.elementor-element-0ef47a1 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1402 .elementor-element.elementor-element-2c8e07c .elementor-counter-number-wrapper{color:#FFFFFF;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-1402 .elementor-element.elementor-element-2c8e07c .elementor-counter-title{color:#C8C9CABD;font-family:"Arial", Sans-serif;font-size:22px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-016b077{margin-top:30px;margin-bottom:40px;}.elementor-1402 .elementor-element.elementor-element-fd7abc8 .elementor-wrapper{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1402 .elementor-element.elementor-element-fd7abc8 .elementor-custom-embed-play i{font-size:30px;text-shadow:0px 0px 45px rgba(0, 0, 0, 0.15);}.elementor-1402 .elementor-element.elementor-element-fd7abc8 .elementor-custom-embed-play svg{width:30px;height:30px;}.elementor-1402 .elementor-element.elementor-element-3d6d71a .elementor-heading-title{color:#181818;font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-1402 .elementor-element.elementor-element-3d6d71a > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-35581e6{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-5e83dc4 .elementor-wrapper{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1402 .elementor-element.elementor-element-5e83dc4 .elementor-custom-embed-play i{font-size:30px;text-shadow:0px 0px 45px rgba(0, 0, 0, 0.15);}.elementor-1402 .elementor-element.elementor-element-5e83dc4 .elementor-custom-embed-play svg{width:30px;height:30px;}.elementor-1402 .elementor-element.elementor-element-fde7e52 .elementor-heading-title{color:#3A3939E6;font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-1402 .elementor-element.elementor-element-fde7e52 > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1402 .elementor-element.elementor-element-995446f{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-1402 .elementor-element.elementor-element-89ea431:not(.elementor-motion-effects-element-type-background), .elementor-1402 .elementor-element.elementor-element-89ea431 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#E4E3E357;}.elementor-1402 .elementor-element.elementor-element-89ea431{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 25px 0px 25px;}.elementor-1402 .elementor-element.elementor-element-89ea431 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1402 .elementor-element.elementor-element-c602d2c{text-align:center;}.elementor-1402 .elementor-element.elementor-element-416d521{text-align:center;}.elementor-1402 .elementor-element.elementor-element-c0e8486{text-align:center;}.elementor-1402 .elementor-element.elementor-element-7bbb729{text-align:center;}.elementor-1402 .elementor-element.elementor-element-8b310cf{text-align:center;}.elementor-1402 .elementor-element.elementor-element-ebfe739{text-align:center;}.elementor-1402 .elementor-element.elementor-element-3c25054{text-align:center;}@media(min-width:768px){.elementor-1402 .elementor-element.elementor-element-dbe156b{width:40.392%;}.elementor-1402 .elementor-element.elementor-element-e348237{width:30.443%;}.elementor-1402 .elementor-element.elementor-element-63e3335{width:28.802%;}.elementor-1402 .elementor-element.elementor-element-dfe2684{width:53.644%;}.elementor-1402 .elementor-element.elementor-element-71855ae{width:46.313%;}.elementor-1402 .elementor-element.elementor-element-4e5ecaf{width:36.366%;}.elementor-1402 .elementor-element.elementor-element-cc85da5{width:63.634%;}.elementor-1402 .elementor-element.elementor-element-2e50198{width:49.563%;}.elementor-1402 .elementor-element.elementor-element-10f5ad4{width:50.437%;}.elementor-1402 .elementor-element.elementor-element-49da008{width:51.387%;}.elementor-1402 .elementor-element.elementor-element-5658416{width:48.442%;}}/* Start custom CSS for heading, class: .elementor-element-5f44fe8 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-5f44fe8 .elementor-heading-title{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-86dec11 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-86dec11 h4{
     font-family: "Lora", Arial, Helvetica, sans-serif !important;
}

.elementor-1402 .elementor-element.elementor-element-86dec11 button{
    border-bottom: 3px brown solid  ;
    padding: 0px ;
    color: black ;
    background-color: transparent ;
    font-size: 14px ;
    font-weight: bold ;
    opacity: 85% ;
}

.elementor-1402 .elementor-element.elementor-element-86dec11 button:hover{
    opacity: 60% ;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-ac0eae0 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-ac0eae0 h4{
     font-family: "Lora", Arial, Helvetica, sans-serif !important;
}

.elementor-1402 .elementor-element.elementor-element-ac0eae0 button{
    border-bottom: 3px brown solid  ;
    padding: 0px ;
    color: black ;
    background-color: transparent ;
    font-size: 14px ;
    font-weight: bold ;
    opacity: 85% ;
}

.elementor-1402 .elementor-element.elementor-element-ac0eae0 button:hover{
    opacity: 60% ;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-fb9fd32 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-fb9fd32 .elementor-heading-title{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-2e409c9 */.elementor-1402 .elementor-element.elementor-element-2e409c9 em{
    color: black ;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-65c46f4 */.elementor-1402 .elementor-element.elementor-element-65c46f4 a{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-65c46f4 a:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-4a342d2 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-4a342d2 .h6{
    color: #C18447 ;
    font-weight: bold ;
    font-size: 18px
}

.elementor-1402 .elementor-element.elementor-element-4a342d2 .h1{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
    font-size: 45px;
    color: #181818;
    padding-top: 20px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-8490abd */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-8490abd h4{
     font-family: "Lora", Arial, Helvetica, sans-serif !important;
}

.elementor-1402 .elementor-element.elementor-element-8490abd button{
    border-bottom: 3px brown solid  ;
    padding: 0px ;
    color: black ;
    background-color: transparent ;
    font-size: 14px ;
    font-weight: bold ;
    opacity: 85% ;
}

.elementor-1402 .elementor-element.elementor-element-8490abd button:hover{
    opacity: 60% ;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-8ab811e */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-8ab811e h4{
     font-family: "Lora", Arial, Helvetica, sans-serif !important;
}

.elementor-1402 .elementor-element.elementor-element-8ab811e button{
    border-bottom: 3px brown solid  ;
    padding: 0px ;
    color: black ;
    background-color: transparent ;
    font-size: 14px ;
    font-weight: bold ;
    opacity: 85% ;
}

.elementor-1402 .elementor-element.elementor-element-8ab811e button:hover{
    opacity: 60% ;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-34055e6 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-34055e6 h4{
     font-family: "Lora", Arial, Helvetica, sans-serif !important;
}

.elementor-1402 .elementor-element.elementor-element-34055e6 button{
    border-bottom: 3px brown solid  ;
    padding: 0px ;
    color: black ;
    background-color: transparent ;
    font-size: 14px ;
    font-weight: bold ;
    opacity: 85% ;
}

.elementor-1402 .elementor-element.elementor-element-34055e6 button:hover{
    opacity: 60% ;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d1bc4dc */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-d1bc4dc h4{
     font-family: "Lora", Arial, Helvetica, sans-serif !important;
}

.elementor-1402 .elementor-element.elementor-element-d1bc4dc button{
    border-bottom: 3px brown solid  ;
    padding: 0px ;
    color: black ;
    background-color: transparent ;
    font-size: 14px ;
    font-weight: bold ;
    opacity: 85% ;
}

.elementor-1402 .elementor-element.elementor-element-d1bc4dc button:hover{
    opacity: 60% ;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ce10e81 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-ce10e81 .elementor-heading-title{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
}/* End custom CSS */
/* Start custom CSS for counter, class: .elementor-element-271d8a9 */.elementor-1402 .elementor-element.elementor-element-271d8a9 {
    border-right: 1px black ;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3d6d71a */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-3d6d71a .elementor-heading-title{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
}/* End custom CSS */
/* Start custom CSS for video, class: .elementor-element-5e83dc4 */.elementor-1402 .elementor-element.elementor-element-5e83dc4 .elementor-custom-embed-image-overlay {
    transition: 0.75s ;
}

.elementor-1402 .elementor-element.elementor-element-5e83dc4 .elementor-custom-embed-image-overlay:hover i{
    scale: 0.7;
}

.elementor-1402 .elementor-element.elementor-element-5e83dc4 .elementor-custom-embed-image-overlay:hover{
    scale: 1.2;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-fde7e52 */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1402 .elementor-element.elementor-element-fde7e52 .elementor-heading-title{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-c602d2c */.elementor-1402 .elementor-element.elementor-element-c602d2c .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-c602d2c .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-416d521 */.elementor-1402 .elementor-element.elementor-element-416d521 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-416d521 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-c0e8486 */.elementor-1402 .elementor-element.elementor-element-c0e8486 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-c0e8486 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-7bbb729 */.elementor-1402 .elementor-element.elementor-element-7bbb729 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-7bbb729 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-8b310cf */.elementor-1402 .elementor-element.elementor-element-8b310cf .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-8b310cf .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-ebfe739 */.elementor-1402 .elementor-element.elementor-element-ebfe739 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-ebfe739 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-3c25054 */.elementor-1402 .elementor-element.elementor-element-3c25054 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1402 .elementor-element.elementor-element-3c25054 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */