.elementor-1509 .elementor-element.elementor-element-fc5abf5 iframe{height:600px;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1509 .elementor-element.elementor-element-d306e9b{color:#7A7A7A;width:40%;max-width:40%;top:122.99px;}.elementor-1509 .elementor-element.elementor-element-d306e9b > .elementor-widget-container{padding:25px 25px 25px 25px;}body:not(.rtl) .elementor-1509 .elementor-element.elementor-element-d306e9b{left:75.976px;}body.rtl .elementor-1509 .elementor-element.elementor-element-d306e9b{right:75.976px;}.elementor-1509 .elementor-element.elementor-element-47445f0{margin-top:50px;margin-bottom:0px;padding:0px 5px 0px 5px;}.elementor-1509 .elementor-element.elementor-element-33c007d .elementor-heading-title{color:#7878789E;font-family:"Roboto", Sans-serif;font-weight:400;}.elementor-1509 .elementor-element.elementor-element-33c007d > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1509 .elementor-element.elementor-element-40fb14a .elementor-heading-title{color:#181818;font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-1509 .elementor-element.elementor-element-40fb14a > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1509 .elementor-element.elementor-element-753ae5c{--divider-border-style:solid;--divider-color:#63616182;--divider-border-width:1px;}.elementor-1509 .elementor-element.elementor-element-753ae5c .elementor-divider-separator{width:100%;}.elementor-1509 .elementor-element.elementor-element-753ae5c .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1509 .elementor-element.elementor-element-4fcd0ee .bdt-ep-accordion-item + .bdt-ep-accordion-item{margin-top:2px;}.elementor-1509 .elementor-element.elementor-element-4fcd0ee .bdt-ep-title-text{justify-content:flex-start;}.elementor-1509 .elementor-element.elementor-element-4fcd0ee .bdt-ep-accordion-title{color:#0B0B0B;background-color:#FFFFFF;border-style:solid;border-width:0px 0px 1px 0px;border-color:#737373A6;}.elementor-1509 .elementor-element.elementor-element-4fcd0ee .bdt-ep-accordion-custom-icon svg{fill:#0B0B0B;}.elementor-1509 .elementor-element.elementor-element-4fcd0ee > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-1509 .elementor-element.elementor-element-78e42f9 > .elementor-element-populated{border-style:solid;border-width:0px 0px 0px 1px;border-color:#98989880;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1509 .elementor-element.elementor-element-78e42f9 > .elementor-element-populated, .elementor-1509 .elementor-element.elementor-element-78e42f9 > .elementor-element-populated > .elementor-background-overlay, .elementor-1509 .elementor-element.elementor-element-78e42f9 > .elementor-background-slideshow{border-radius:0px 0px 0px 1px;}.elementor-1509 .elementor-element.elementor-element-78e42f9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1509 .elementor-element.elementor-element-3acd634 .elementor-heading-title{color:#A8A8A8;font-family:"Roboto", Sans-serif;font-weight:400;}.elementor-1509 .elementor-element.elementor-element-f7be1cb .elementor-heading-title{color:#000000;font-family:"Roboto", Sans-serif;font-weight:400;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-field-group > label{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:500;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-field-type-html{padding-bottom:0px;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-radius:20px 20px 20px 20px;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-radius:20px 20px 20px 20px;}.elementor-1509 .elementor-element.elementor-element-a28b530 .e-form__buttons__wrapper__button-next{background-color:#68686859;color:#6E6E6E;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-button[type="submit"]{background-color:#68686859;color:#6E6E6E;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-button[type="submit"] svg *{fill:#6E6E6E;}.elementor-1509 .elementor-element.elementor-element-a28b530 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-1509 .elementor-element.elementor-element-a28b530 .e-form__buttons__wrapper__button-next:hover{background-color:#6E6D6D82;color:#6E6E6E;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-button[type="submit"]:hover{background-color:#6E6D6D82;color:#6E6E6E;}.elementor-1509 .elementor-element.elementor-element-a28b530 .elementor-button[type="submit"]:hover svg *{fill:#6E6E6E;}.elementor-1509 .elementor-element.elementor-element-a28b530 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-1509 .elementor-element.elementor-element-a28b530{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-1509 .elementor-element.elementor-element-844d08f:not(.elementor-motion-effects-element-type-background), .elementor-1509 .elementor-element.elementor-element-844d08f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#E4E3E357;}.elementor-1509 .elementor-element.elementor-element-844d08f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 25px 0px 25px;}.elementor-1509 .elementor-element.elementor-element-844d08f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1509 .elementor-element.elementor-element-0af9cec{text-align:center;}.elementor-1509 .elementor-element.elementor-element-7cc0198{text-align:center;}.elementor-1509 .elementor-element.elementor-element-5093ea1{text-align:center;}.elementor-1509 .elementor-element.elementor-element-813eefc{text-align:center;}.elementor-1509 .elementor-element.elementor-element-10ec7aa{text-align:center;}.elementor-1509 .elementor-element.elementor-element-55bc39c{text-align:center;}.elementor-1509 .elementor-element.elementor-element-e490e17{text-align:center;}/* Start custom CSS for text-editor, class: .elementor-element-d306e9b */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');
.elementor-1509 .elementor-element.elementor-element-d306e9b .Title{
     font-family: "Lora", Arial, Helvetica, sans-serif ;
}

.elementor-1509 .elementor-element.elementor-element-d306e9b .button{
    color: black !important;
    font-weight: bold ;
    cursor: pointer ;
    background-color: transparent ;
    border-bottom: 3px solid #7A7A7A ;
    padding: 0 ;
}

.elementor-1509 .elementor-element.elementor-element-d306e9b .button:hover {
    opacity: 80% ;
    background-color: transparent ; 
}

.elementor-1509 .elementor-element.elementor-element-d306e9b {
    background: white ;
    box-shadow: 5px 5px 10px grey
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-40fb14a */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1509 .elementor-element.elementor-element-40fb14a .elementor-heading-title{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f7be1cb */@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi');

.elementor-1509 .elementor-element.elementor-element-f7be1cb .elementor-heading-title{
    font-family: "Lora", Arial, Helvetica, sans-serif !important ;
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-a28b530 */.elementor-1509 .elementor-element.elementor-element-a28b530 button{
    box-shadow: 2px 2px 3px;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0af9cec */.elementor-1509 .elementor-element.elementor-element-0af9cec .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1509 .elementor-element.elementor-element-0af9cec .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-7cc0198 */.elementor-1509 .elementor-element.elementor-element-7cc0198 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1509 .elementor-element.elementor-element-7cc0198 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5093ea1 */.elementor-1509 .elementor-element.elementor-element-5093ea1 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1509 .elementor-element.elementor-element-5093ea1 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-813eefc */.elementor-1509 .elementor-element.elementor-element-813eefc .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1509 .elementor-element.elementor-element-813eefc .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-10ec7aa */.elementor-1509 .elementor-element.elementor-element-10ec7aa .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1509 .elementor-element.elementor-element-10ec7aa .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-55bc39c */.elementor-1509 .elementor-element.elementor-element-55bc39c .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1509 .elementor-element.elementor-element-55bc39c .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-e490e17 */.elementor-1509 .elementor-element.elementor-element-e490e17 .elementor-widget-container img{
    opacity: .5;
    filter: grayscale(100%) ;
    transition: filter .3s ease, opacity .3s ease ;
}

.elementor-1509 .elementor-element.elementor-element-e490e17 .elementor-widget-container img:hover{
    opacity: 100% ;
    filter: grayscale(0%) ;
}/* End custom CSS */